@font-face {
    font-family: "fingerSpell";
    src: url("../../fonts/SIGNFONT-REGULAR.TTF");
  }

table{
    border: 3px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
  
}
th{
    border: 2px solid black;
    text-align: center;
}
.megaLetterHand{
    font-family:fingerSpell;
    border:5px solid black;
    border-radius: 15px;
    width:20%;
    margin-left:40%;
    text-align:center;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
}
.megaLetter{
    
    text-align:center;
    font-weight:bolder;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
}
#megaString {
    border:5px solid black;
    border-radius: 15px;
    width:auto;
    margin-left:auto;
    text-align:center;
    font-weight:bolder;
    font-size: 13em;
    margin-top: 10px;
    margin-bottom:10px;
}
#megaWord {
    margin-left:auto;
    text-align:center;
    font-weight:bolder;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
}

#stats{
    width:25%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0px 5px;
    padding: 2px 0px 2px 0px;
}

#timer{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
}





.add_nav{
    width:10%;
    padding-left:30%;
    padding-bottom:5px;
    float:inline-start;
}
.attribute{
    font-weight: bold;
}
.caption{
    margin-top: 0;
    text-align: center;
    font-size: 3em;
}
.title{
    font-family: fingerSpell;
    text-align: center;
    font-size: 3em;
    margin-bottom:0px;
    margin-top: 0px;
}
.caption{
    margin-top: 0;
    text-align: center;
    font-size: 3em;
}
.data{
    font-style: italic;
}
.filter_form{
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.letter {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid black;
}
.letter_stats_table{
    float:left;
}
.navigation{
    display:flex;
}
.nav_button{
    width: 12em;
    background-color: lightsteelblue;
    border: 1px solid steelblue;
    
}
.stats_nav{
    width:10%;
    padding-left:34.35%;
    padding-bottom:5px;
    clear:right;
}
.stat_table_label{
    text-align:center;
    font-weight: bold;
    font-size: 2em;
}
.string_stats_table{
    float:left;
}

.submit{
    font-family: fingerSpell;
}
.test_filter_form{
    align-content: center;
    justify-content: center;
    border: 2px solid black;
    width:25%;
    margin-left:38.5%;
}
.test_nav{

    padding-bottom:5px;
    float:inline-start;
}
.word_id{
    display:inline-block;
    font-weight:bolder;
    margin-top: 10px;
    margin-bottom:10px;
}
.word_frequency{
    font-weight:bolder;
    display:block;
    float:left;
    margin-top: 10px;
    margin-bottom:10px;
}
.word_average{
    font-weight:bolder;
    display:block;
    float:right;
    margin-top: 10px;
    margin-bottom:10px;
}
.word_sector{
    text-align:center;
    border:5px solid black;
    border-radius: 15px;
    width:fit-content;
    margin:0 auto;
}
.word_stats_table{
    float:left;
}


