@font-face {
    font-family: "fingerSpell";
    src: url("../../fonts/SIGNFONT-REGULAR.TTF");
  }

table{
    border: 3px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
  
}
th{
    border: 2px solid black;
    text-align: center;
}

#hint_text{
    border: 2px solid black;
    border-radius: 5px;
    color:white;
}

.megaLetterHand{
    font-family:fingerSpell;
    text-align:center;
    font-size: 15em;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:10px;
}
.megaLetter{
    
    text-align:center;
    font-weight:bolder;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 10px;
}
#megaString {
    
    text-align:center;
    font-weight:bolder;
    font-size: 13em;
    margin-top: 10px;
    margin-bottom:10px;
}
#megaWord {
    margin-left:auto;
    text-align:center;
    font-weight:bolder;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
}

#stats{
    width:25%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0px 5px;
    padding: 2px 0px 2px 0px;
}

#timer{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
}






.attribute{
    font-weight: bold;
}
.caption{
    margin-top: 0;
    text-align: center;
    font-size: 3em;
}
.title{
    font-family: fingerSpell;
    text-align: center;
    font-size: 3em;
    margin-bottom:0px;
    margin-top: 0px;
}
.caption{
    margin-top: 0;
    text-align: center;
    font-size: 3em;
}
.data{
    font-style: italic;
}
.edit_form{
    display:none;
}
.edit_form input{
    display:block;
}
.filter_select{
    font-family: 'Times New Roman', Times, serif;
    height:2em;
    font-size:.7em;
}
.filter_form{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 5px;
}
.hidden button{
    visibility:hidden;
    transition:.5s;
}
.hidden:hover button{
    visibility:visible;
    transition:.5s;
}
.letter {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid black;
}
.letter_stats_table{
    float:left;
}
.meta_stats_sector{
    margin:auto;
    text-align:center;

}
.meta_stats{
    margin:auto;
    width:fit-content;
}
.meta_table_label{
    font-weight: bold;
    font-size: 2em;
}
.modify_words_table{
    width: 60%;
    margin-left:20%;
}
.navigation{
    display:flex;
    border: 2px double black;
    padding: 1em;
    width:auto;
    justify-content: space-between;
}
.nav_button{
    width: 9em;
    background-color: lightsteelblue;
    border: 1px solid steelblue;
    padding:5px;
    font-weight:bold;
    font-size: 1.6em;
    font-family:'Times New Roman', Times, serif;
    
}
.nav_button:hover{
    width: 9em;
    background-color: steelblue;
    border: 2px solid rgb(43, 119, 182);
    padding:5px;
    font-weight:bold;
    font-size: 1.7em;
    font-family:'Times New Roman', Times, serif;
    transition: .1s;
    color:rgb(207, 220, 255)
    
}

.stat_table_label{
    text-align:center;
    font-weight: bold;
    font-size: 2em;
}
.string_stats_table{
    float:left;
}

.submit{
    font-family: fingerSpell;
    height:2em;
    font-size: 1.3em;
}
.test_filter_form{
    align-content: center;
    justify-content: center;
    border: 2px solid black;
    width:35%;
    margin-left:38.5%;
    margin-top:1.5em;
    font-size: 2em;
}


.token_id{
    display:inline-block;
    font-weight:bolder;
    margin-top: 10px;
    margin-bottom:10px;
}
.token_frequency{
    font-weight:bolder;
    display:block;
    float:left;
    margin-top: 10px;
    margin-bottom:10px;
}
.token_average{
    font-weight:bolder;
    display:block;
    float:right;
    margin-top: 10px;
    margin-bottom:10px;
}
.token_sector{
    text-align:center;
    border:5px solid black;
    border-radius: 15px;
    width:fit-content;
    margin:0 auto;
}
.word_modify_table{
    margin:auto;
    font-size:1.7em
}
.word_stats_table{
    float:left;
}


