


#stats{
    width:25%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0px 5px;
    padding: 2px 0px 2px 0px;
}

#megaLetter{
    border:5px solid black;
    border-radius: 15px;
    width:20%;
    margin-left:40%;
    text-align:center;
    font-weight:bolder;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
}
#megaWord {
    border:5px solid black;
    border-radius: 15px;
    width:auto;
    margin-left:auto;
    text-align:center;
    font-weight:bolder;
    font-size: 15em;
    margin-top: 10px;
    margin-bottom:10px;
}

#megaString {
    border:5px solid black;
    border-radius: 15px;
    width:auto;
    margin-left:auto;
    text-align:center;
    font-weight:bolder;
    font-size: 13em;
    margin-top: 10px;
    margin-bottom:10px;
}

#timer{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
}
table{
    border: 3px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
  
}
th{
    border: 2px solid black;
    text-align: center;
}
.letter {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid black;
}


.nav_button{
    width: 12em;
}

.attribute{
    font-weight: bold;
}

.data{
    font-style: italic;
}



